body {
    width: 600px;
    height: 300px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: blue;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
